* {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

body {
    background-color: rgb(45, 51, 52);
}

.trackImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 36px;
    color: white;
    margin: 0px 0px;
    text-align: center;
    width: 190px;
}

button {
    width: 100%;
    font-size: 16px;
    color: white;
    border: none;
    background-color: rgb(87, 98, 99);
    margin-top: 0px;
}

.trackName,
.bpmText {
    text-align: center;
    color: white;
    margin-left: 6px;
}

.td {
    border: 1px solid green;
}

.bpm {
    text-align: center;
    color: white;
}

.yuppa1 {
    margin-top: 4px;
    border: 2px solid rgb(87, 98, 99);
    padding: 0px 0px;
    font-size: 14px;
}

.yuppa2 {
    background-color: rgb(45, 51, 52);
    color: white;
    text-decoration: none;
    margin-left: 6px;
}

#BPMSet,
#speedSet {
    color: rgb(45, 51, 52)
}